# SQL Lab

In this lab we will learn how to use execute SQL from the ipython notebook and practice some queries on the [Northwind sample database](https://northwinddatabase.codeplex.com/) that we used in Lesson 3.1.

You can access the data with this command:

    psql -h dsi.c20gkj5cvu3l.us-east-1.rds.amazonaws.com -p 5432 -U dsi_student northwind
    password: gastudents

First of all let's install the ipython-sql extension. You can find instructions [here](https://github.com/catherinedevlin/ipython-sql).

In [1]:
# !pip install ipython-sql

Let's see if it works:

In [2]:
%load_ext sql

In [3]:
%%sql postgresql://dsi_student:gastudents@dsi.c20gkj5cvu3l.us-east-1.rds.amazonaws.com/northwind
        
select * from orders limit 5;

5 rows affected.

[(10248, u'VINET', 5, datetime.date(1996, 7, 4), datetime.date(1996, 8, 1), datetime.date(1996, 7, 16), 3, 32.38, u'Vins et alcools Chevalier', u"59 rue de l'Abbaye", u'Reims', None, u'51100', u'France'),
 (10249, u'TOMSP', 6, datetime.date(1996, 7, 5), datetime.date(1996, 8, 16), datetime.date(1996, 7, 10), 1, 11.61, u'Toms Spezialit\xe4ten', u'Luisenstr. 48', u'M\xfcnster', None, u'44087', u'Germany'),
 (10250, u'HANAR', 4, datetime.date(1996, 7, 8), datetime.date(1996, 8, 5), datetime.date(1996, 7, 12), 2, 65.83, u'Hanari Carnes', u'Rua do Pa\xe7o, 67', u'Rio de Janeiro', u'RJ', u'05454-876', u'Brazil'),
 (10251, u'VICTE', 3, datetime.date(1996, 7, 8), datetime.date(1996, 8, 5), datetime.date(1996, 7, 15), 1, 41.34, u'Victuailles en stock', u'2, rue du Commerce', u'Lyon', None, u'69004', u'France'),
 (10252, u'SUPRD', 4, datetime.date(1996, 7, 9), datetime.date(1996, 8, 6), datetime.date(1996, 7, 11), 2, 51.3, u'Supr\xeames d\xe9lices', u'Boulevard Tirou, 255', u'Charleroi', None, u'B-6000', u'Belgium')]

Nice!!! We can now go ahead with the lab!

In [4]:
import pandas as pd
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt

## 1: Inspect the Database

If we were connected via console, it would be easy to list all tables using `\dt`. We can however access table information performing a query on the `information_schema.tables` table.

### 1.a: List Tables

1. Write a `SELECT` statement that lists all the tables in the public schema of the `northwind` database, sorted alphabetically.

In [5]:
%%sql
SELECT table_schema,table_name
FROM information_schema.tables
WHERE table_schema = 'public'
ORDER BY table_name;

58 rows affected.

[(u'public', u'all_information'),
 (u'public', u'categories'),
 (u'public', u'categoriesmerged'),
 (u'public', u'customercustomerdemo'),
 (u'public', u'customerdemographics'),
 (u'public', u'customers'),
 (u'public', u'descriptions'),
 (u'public', u'descriptions1'),
 (u'public', u'descriptions2'),
 (u'public', u'employees'),
 (u'public', u'employeeterritories'),
 (u'public', u'empterid'),
 (u'public', u'empterid2'),
 (u'public', u'final'),
 (u'public', u'final2'),
 (u'public', u'final3'),
 (u'public', u'final4'),
 (u'public', u'final5'),
 (u'public', u'fo'),
 (u'public', u'full_ord'),
 (u'public', u'full_order'),
 (u'public', u'fullorders'),
 (u'public', u'full_orders_'),
 (u'public', u'fullorders_'),
 (u'public', u'fullorders__'),
 (u'public', u'full_order_table'),
 (u'public', u'full_order_table2'),
 (u'public', u'full_order_table3'),
 (u'public', u'full_order_table4'),
 (u'public', u'full_order_table5'),
 (u'public', u'movies'),
 (u'public', u'my_table'),
 (u'public', u'newregion'),
 (u'public', u'new_table'),
 (u'public', u'order_details'),
 (u'public', u'orders'),
 (u'public', u'order_table'),
 (u'public', u'price'),
 (u'public', u'price2'),
 (u'public', u'products'),
 (u'public', u'ratings'),
 (u'public', u'region'),
 (u'public', u'region2'),
 (u'public', u'shippers'),
 (u'public', u'shippers_tmp'),
 (u'public', u'suppliers'),
 (u'public', u'table1'),
 (u'public', u'table_join'),
 (u'public', u'temp_table'),
 (u'public', u'terdes'),
 (u'public', u'terdes1'),
 (u'public', u'terdes2'),
 (u'public', u'terdes3'),
 (u'public', u'territories'),
 (u'public', u'updatdregion'),
 (u'public', u'updatedregion'),
 (u'public', u'updatedregion1'),
 (u'public', u'usstates')]

### 1.b: Print Schemas

The table `INFORMATION_SCHEMA.COLUMNS` contains schema information on each.

Query it to display schemas of all the public tables. In particular we are interested in the column names and data types. Make sure you only include public schemas to avoid cluttering your results with a bunch of postgres related stuff.

In [6]:
%%sql
select table_name, column_name, data_type
from INFORMATION_SCHEMA.COLUMNS
where table_catalog = 'northwind'
and table_schema = 'public'

326 rows affected.

[(u'categories', u'CategoryID', u'smallint'),
 (u'categories', u'CategoryName', u'character varying'),
 (u'categories', u'Description', u'text'),
 (u'categories', u'Picture', u'bytea'),
 (u'full_order_table5', u'ProductID', u'smallint'),
 (u'full_order_table5', u'UnitPrice', u'real'),
 (u'full_order_table5', u'OrderID', u'smallint'),
 (u'full_order_table5', u'EmployeeID', u'smallint'),
 (u'full_order_table5', u'TerritoryDescription', u'character'),
 (u'full_order_table5', u'RegionDescription', u'character'),
 (u'fo', u'ProductID', u'smallint'),
 (u'fo', u'UnitPrice', u'real'),
 (u'fo', u'OrderID', u'smallint'),
 (u'fo', u'EmployeeID', u'smallint'),
 (u'fo', u'TerritoryDescription', u'character'),
 (u'fo', u'RegionDescription', u'character'),
 (u'table_join', u'EmployeeID', u'smallint'),
 (u'table_join', u'RegionDescription', u'character'),
 (u'table_join', u'TerritoryDescription', u'character'),
 (u'table_join', u'OrderID', u'smallint'),
 (u'table_join', u'ProductID', u'smallint'),
 (u'table_join', u'UnitPrice', u'real'),
 (u'full_order', u'EmployeeID', u'smallint'),
 (u'full_order', u'TerritoryDescription', u'character'),
 (u'full_order', u'RegionDescription', u'character'),
 (u'full_order', u'OrderID', u'smallint'),
 (u'full_order', u'ProductID', u'smallint'),
 (u'full_order', u'UnitPrice', u'real'),
 (u'full_order', u'Quantity', u'smallint'),
 (u'customercustomerdemo', u'CustomerID', u'character'),
 (u'customercustomerdemo', u'CustomerTypeID', u'character'),
 (u'customerdemographics', u'CustomerTypeID', u'character'),
 (u'customerdemographics', u'CustomerDesc', u'text'),
 (u'customers', u'CustomerID', u'character'),
 (u'customers', u'CompanyName', u'character varying'),
 (u'customers', u'ContactName', u'character varying'),
 (u'customers', u'ContactTitle', u'character varying'),
 (u'customers', u'Address', u'character varying'),
 (u'customers', u'City', u'character varying'),
 (u'customers', u'Region', u'character varying'),
 (u'customers', u'PostalCode', u'character varying'),
 (u'customers', u'Country', u'character varying'),
 (u'customers', u'Phone', u'character varying'),
 (u'customers', u'Fax', u'character varying'),
 (u'employees', u'EmployeeID', u'smallint'),
 (u'employees', u'LastName', u'character varying'),
 (u'employees', u'FirstName', u'character varying'),
 (u'employees', u'Title', u'character varying'),
 (u'employees', u'TitleOfCourtesy', u'character varying'),
 (u'employees', u'BirthDate', u'date'),
 (u'employees', u'HireDate', u'date'),
 (u'employees', u'Address', u'character varying'),
 (u'employees', u'City', u'character varying'),
 (u'employees', u'Region', u'character varying'),
 (u'employees', u'PostalCode', u'character varying'),
 (u'employees', u'Country', u'character varying'),
 (u'employees', u'HomePhone', u'character varying'),
 (u'employees', u'Extension', u'character varying'),
 (u'employees', u'Photo', u'bytea'),
 (u'employees', u'Notes', u'text'),
 (u'employees', u'ReportsTo', u'smallint'),
 (u'employees', u'PhotoPath', u'character varying'),
 (u'employeeterritories', u'EmployeeID', u'smallint'),
 (u'employeeterritories', u'TerritoryID', u'character varying'),
 (u'order_details', u'OrderID', u'smallint'),
 (u'order_details', u'ProductID', u'smallint'),
 (u'order_details', u'UnitPrice', u'real'),
 (u'order_details', u'Quantity', u'smallint'),
 (u'order_details', u'Discount', u'real'),
 (u'orders', u'OrderID', u'smallint'),
 (u'orders', u'CustomerID', u'character'),
 (u'orders', u'EmployeeID', u'smallint'),
 (u'orders', u'OrderDate', u'date'),
 (u'orders', u'RequiredDate', u'date'),
 (u'orders', u'ShippedDate', u'date'),
 (u'orders', u'ShipVia', u'smallint'),
 (u'orders', u'Freight', u'real'),
 (u'orders', u'ShipName', u'character varying'),
 (u'orders', u'ShipAddress', u'character varying'),
 (u'orders', u'ShipCity', u'character varying'),
 (u'orders', u'ShipRegion', u'character varying'),
 (u'orders', u'ShipPostalCode', u'character varying'),
 (u'orders', u'ShipCountry', u'character varying'),
 (u'products', u'ProductID', u'smallint'),
 (u'products', u'ProductName', u'character varying'),
 (u'products', u'SupplierID', u'smallint'),
 (u'products', u'CategoryID', u'smallint'),
 (u'products', u'QuantityPerUnit', u'character varying'),
 (u'products', u'UnitPrice', u'real'),
 (u'products', u'UnitsInStock', u'smallint'),
 (u'products', u'UnitsOnOrder', u'smallint'),
 (u'products', u'ReorderLevel', u'smallint'),
 (u'products', u'Discontinued', u'integer'),
 (u'region', u'RegionID', u'smallint'),
 (u'region', u'RegionDescription', u'character'),
 (u'shippers', u'ShipperID', u'smallint'),
 (u'shippers', u'CompanyName', u'character varying'),
 (u'shippers', u'Phone', u'character varying'),
 (u'shippers_tmp', u'ShipperID', u'smallint'),
 (u'shippers_tmp', u'CompanyName', u'character varying'),
 (u'shippers_tmp', u'Phone', u'character varying'),
 (u'suppliers', u'SupplierID', u'smallint'),
 (u'suppliers', u'CompanyName', u'character varying'),
 (u'suppliers', u'ContactName', u'character varying'),
 (u'suppliers', u'ContactTitle', u'character varying'),
 (u'suppliers', u'Address', u'character varying'),
 (u'suppliers', u'City', u'character varying'),
 (u'suppliers', u'Region', u'character varying'),
 (u'suppliers', u'PostalCode', u'character varying'),
 (u'suppliers', u'Country', u'character varying'),
 (u'suppliers', u'Phone', u'character varying'),
 (u'suppliers', u'Fax', u'character varying'),
 (u'suppliers', u'HomePage', u'text'),
 (u'territories', u'TerritoryID', u'character varying'),
 (u'territories', u'TerritoryDescription', u'character'),
 (u'territories', u'RegionID', u'smallint'),
 (u'usstates', u'StateID', u'smallint'),
 (u'usstates', u'StateName', u'character varying'),
 (u'usstates', u'StateAbbr', u'character varying'),
 (u'usstates', u'StateRegion', u'character varying'),
 (u'table1', u'num_votes', u'character varying'),
 (u'table1', u'rating', u'character varying'),
 (u'table1', u'tconst', u'character'),
 (u'table1', u'title', u'character'),
 (u'table1', u'year', u'character varying'),
 (u'table1', u'genre', u'character'),
 (u'table1', u'runtime', u'character varying'),
 (u'movies', u'index', u'bigint'),
 (u'movies', u'num_votes', u'bigint'),
 (u'movies', u'rating', u'double precision'),
 (u'movies', u'tconst', u'text'),
 (u'movies', u'title', u'text'),
 (u'movies', u'year', u'text'),
 (u'movies', u'genre', u'text'),
 (u'movies', u'runtime', u'double precision'),
 (u'ratings', u'index', u'bigint'),
 (u'ratings', u'0', u'text'),
 (u'ratings', u'ratings', u'text'),
 (u'ratings', u'movie', u'text'),
 (u'categoriesmerged', u'index', u'bigint'),
 (u'categoriesmerged', u'ProductID', u'bigint'),
 (u'categoriesmerged', u'ProductName', u'text'),
 (u'categoriesmerged', u'SupplierID', u'bigint'),
 (u'categoriesmerged', u'CategoryID', u'bigint'),
 (u'categoriesmerged', u'QuantityPerUnit', u'text'),
 (u'categoriesmerged', u'UnitPrice', u'double precision'),
 (u'categoriesmerged', u'UnitsInStock', u'bigint'),
 (u'categoriesmerged', u'UnitsOnOrder', u'bigint'),
 (u'categoriesmerged', u'ReorderLevel', u'bigint'),
 (u'categoriesmerged', u'Discontinued', u'bigint'),
 (u'categoriesmerged', u'CategoryName', u'text'),
 (u'categoriesmerged', u'Description', u'text'),
 (u'categoriesmerged', u'Picture', u'text'),
 (u'order_table', u'EmployeeID', u'smallint'),
 (u'order_table', u'RegionDescription', u'character'),
 (u'order_table', u'TerritoryDescription', u'character'),
 (u'order_table', u'OrderID', u'smallint'),
 (u'order_table', u'ProductID', u'smallint'),
 (u'order_table', u'UnitPrice', u'real'),
 (u'full_ord', u'ProductID', u'smallint'),
 (u'full_ord', u'UnitPrice', u'real'),
 (u'full_ord', u'Quantity', u'smallint'),
 (u'full_ord', u'OrderID', u'smallint'),
 (u'full_ord', u'EmployeeID', u'smallint'),
 (u'full_ord', u'TerritoryDescription', u'character'),
 (u'full_ord', u'RegionDescription', u'character'),
 (u'new_table', u'OrderID', u'smallint'),
 (u'new_table', u'EmployeeID', u'smallint'),
 (u'new_table', u'ProductID', u'smallint'),
 (u'new_table', u'UnitPrice', u'real'),
 (u'new_table', u'TerritoryDescription', u'character'),
 (u'new_table', u'RegionDescription', u'character'),
 (u'full_order_table', u'OrderID', u'smallint'),
 (u'full_order_table', u'EmployeeID', u'smallint'),
 (u'full_order_table', u'ProductID', u'smallint'),
 (u'full_order_table', u'UnitPrice', u'real'),
 (u'full_order_table', u'TerritoryDescription', u'character'),
 (u'full_order_table', u'RegionDescription', u'character'),
 (u'full_order_table2', u'OrderID', u'smallint'),
 (u'full_order_table2', u'EmployeeID', u'smallint'),
 (u'full_order_table2', u'ProductID', u'smallint'),
 (u'full_order_table2', u'UnitPrice', u'real'),
 (u'full_order_table2', u'TerritoryDescription', u'character'),
 (u'full_order_table2', u'RegionDescription', u'character'),
 (u'full_order_table3', u'OrderID', u'smallint'),
 (u'full_order_table3', u'EmployeeID', u'smallint'),
 (u'full_order_table3', u'ProductID', u'smallint'),
 (u'full_order_table3', u'UnitPrice', u'real'),
 (u'full_order_table3', u'TerritoryDescription', u'character'),
 (u'full_order_table3', u'RegionDescription', u'character'),
 (u'full_order_table4', u'ProductID', u'smallint'),
 (u'full_order_table4', u'UnitPrice', u'real'),
 (u'full_order_table4', u'OrderID', u'smallint'),
 (u'full_order_table4', u'EmployeeID', u'smallint'),
 (u'full_order_table4', u'TerritoryDescription', u'character'),
 (u'full_order_table4', u'RegionDescription', u'character'),
 (u'temp_table', u'EmployeeID', u'smallint'),
 (u'temp_table', u'FirstName', u'character varying'),
 (u'temp_table', u'LastName', u'character varying'),
 (u'temp_table', u'RegionDescription', u'character'),
 (u'temp_table', u'TerritoryDescription', u'character'),
 (u'temp_table', u'OrderID', u'smallint'),
 (u'temp_table', u'ProductID', u'smallint'),
 (u'temp_table', u'total_sales', u'double precision'),
 (u'full_orders_', u'EmployeeID', u'smallint'),
 (u'full_orders_', u'RegionDescription', u'character'),
 (u'full_orders_', u'TerritoryDescription', u'character'),
 (u'full_orders_', u'OrderID', u'smallint'),
 (u'full_orders_', u'ProductID', u'smallint'),
 (u'full_orders_', u'UnitPrice', u'real'),
 (u'full_orders_', u'Quantity', u'smallint'),
 (u'fullorders_', u'EmployeeID', u'smallint'),
 (u'fullorders_', u'RegionDescription', u'character'),
 (u'fullorders_', u'TerritoryDescription', u'character'),
 (u'fullorders_', u'OrderID', u'smallint'),
 (u'fullorders_', u'ProductID', u'smallint'),
 (u'fullorders_', u'UnitPrice', u'real'),
 (u'fullorders_', u'Quantity', u'smallint'),
 (u'fullorders__', u'EmployeeID', u'smallint'),
 (u'fullorders__', u'RegionDescription', u'character'),
 (u'fullorders__', u'TerritoryDescription', u'character'),
 (u'fullorders__', u'OrderID', u'smallint'),
 (u'fullorders__', u'ProductID', u'smallint'),
 (u'fullorders__', u'UnitPrice', u'real'),
 (u'fullorders__', u'Quantity', u'smallint'),
 (u'fullorders', u'EmployeeID', u'smallint'),
 (u'fullorders', u'RegionDescription', u'character'),
 (u'fullorders', u'TerritoryDescription', u'character'),
 (u'fullorders', u'OrderID', u'smallint'),
 (u'fullorders', u'ProductID', u'smallint'),
 (u'fullorders', u'UnitPrice', u'real'),
 (u'fullorders', u'Quantity', u'smallint'),
 (u'descriptions', u'RegionDescription', u'character'),
 (u'descriptions', u'TerritoryDescription', u'character'),
 (u'descriptions', u'TerritoryID', u'character varying'),
 (u'price', u'OrderID', u'smallint'),
 (u'price', u'EmployeeID', u'smallint'),
 (u'price', u'ProductID', u'smallint'),
 (u'price', u'UnitPrice', u'real'),
 (u'descriptions1', u'RegionDescription', u'character'),
 (u'descriptions1', u'TerritoryDescription', u'character'),
 (u'descriptions1', u'TerritoryID', u'character varying'),
 (u'empterid', u'EmployeeID', u'smallint'),
 (u'empterid', u'TerritoryID', u'character varying'),
 (u'terdes', u'EmployeeID', u'smallint'),
 (u'terdes', u'TerritoryID', u'character varying'),
 (u'terdes', u'RegionDescription', u'character'),
 (u'terdes', u'TerritoryDescription', u'character'),
 (u'terdes1', u'EmployeeID', u'smallint'),
 (u'terdes1', u'TerritoryID', u'character varying'),
 (u'terdes1', u'RegionDescription', u'character'),
 (u'terdes1', u'TerritoryDescription', u'character'),
 (u'final', u'EmployeeID', u'smallint'),
 (u'final', u'TerritoryID', u'character varying'),
 (u'final', u'RegionDescription', u'character'),
 (u'final', u'TerritoryDescription', u'character'),
 (u'final', u'OrderID', u'smallint'),
 (u'final', u'ProductID', u'smallint'),
 (u'final', u'UnitPrice', u'real'),
 (u'final2', u'EmployeeID', u'smallint'),
 (u'final2', u'TerritoryID', u'character varying'),
 (u'final2', u'RegionDescription', u'character'),
 (u'final2', u'TerritoryDescription', u'character'),
 (u'final2', u'OrderID', u'smallint'),
 (u'final2', u'ProductID', u'smallint'),
 (u'final2', u'UnitPrice', u'real'),
 (u'final3', u'EmployeeID', u'smallint'),
 (u'final3', u'RegionDescription', u'character'),
 (u'final3', u'TerritoryDescription', u'character'),
 (u'final3', u'OrderID', u'smallint'),
 (u'final3', u'ProductID', u'smallint'),
 (u'final3', u'UnitPrice', u'real'),
 (u'final4', u'EmployeeID', u'smallint'),
 (u'final4', u'RegionDescription', u'character'),
 (u'final4', u'TerritoryDescription', u'character'),
 (u'final4', u'OrderID', u'smallint'),
 (u'final4', u'ProductID', u'smallint'),
 (u'final4', u'UnitPrice', u'real'),
 (u'terdes2', u'EmployeeID', u'smallint'),
 (u'terdes2', u'TerritoryID', u'character varying'),
 (u'terdes2', u'RegionDescription', u'character'),
 (u'terdes2', u'TerritoryDescription', u'character'),
 (u'price2', u'OrderID', u'smallint'),
 (u'price2', u'EmployeeID', u'smallint'),
 (u'price2', u'ProductID', u'smallint'),
 (u'price2', u'UnitPrice', u'real'),
 (u'descriptions2', u'RegionDescription', u'character'),
 (u'descriptions2', u'TerritoryDescription', u'character'),
 (u'descriptions2', u'TerritoryID', u'character varying'),
 (u'empterid2', u'EmployeeID', u'smallint'),
 (u'empterid2', u'TerritoryID', u'character varying'),
 (u'terdes3', u'EmployeeID', u'smallint'),
 (u'terdes3', u'TerritoryID', u'character varying'),
 (u'terdes3', u'RegionDescription', u'character'),
 (u'terdes3', u'TerritoryDescription', u'character'),
 (u'final5', u'EmployeeID', u'smallint'),
 (u'final5', u'RegionDescription', u'character'),
 (u'final5', u'TerritoryDescription', u'character'),
 (u'final5', u'OrderID', u'smallint'),
 (u'final5', u'ProductID', u'smallint'),
 (u'final5', u'UnitPrice', u'real'),
 (u'my_table', u'TerritoryDescription', u'character'),
 (u'my_table', u'RegionID', u'smallint'),
 (u'my_table', u'EmployeeID', u'smallint'),
 (u'my_table', u'OrderID', u'smallint'),
 (u'my_table', u'ProductID', u'smallint'),
 (u'my_table', u'UnitPrice', u'real'),
 (u'my_table', u'RegionDescription', u'character'),
 (u'all_information', u'EmployeeID', u'smallint'),
 (u'all_information', u'RegionDescription', u'character'),
 (u'all_information', u'TerritoryDescription', u'character'),
 (u'all_information', u'OrderID', u'smallint'),
 (u'all_information', u'ProductID', u'smallint'),
 (u'all_information', u'UnitPrice', u'real'),
 (u'all_information', u'Quantity', u'smallint'),
 (u'newregion', u'PersonID', u'integer'),
 (u'newregion', u'RegionDescription', u'character varying'),
 (u'updatdregion', u'ID', u'integer'),
 (u'updatdregion', u'RegionDescription', u'character varying'),
 (u'updatedregion', u'ID', u'integer'),
 (u'updatedregion', u'RegionDescription', u'character varying'),
 (u'updatedregion1', u'RegionID', u'integer'),
 (u'updatedregion1', u'RegionDescription', u'character varying'),
 (u'region2', u'RegionID', u'smallint'),
 (u'region2', u'RegionDescription', u'character'),
 (u'region2', u'StateRegion', u'text')]

### 1.c Table peek

Another way of quickly looking at table information is to query the first few rows. Do this for a couple of tables, for example: `orders`, `products`, `usstates`. Display only the first 3 rows.

In [7]:
%%sql
select * from orders limit 3

3 rows affected.

[(10248, u'VINET', 5, datetime.date(1996, 7, 4), datetime.date(1996, 8, 1), datetime.date(1996, 7, 16), 3, 32.38, u'Vins et alcools Chevalier', u"59 rue de l'Abbaye", u'Reims', None, u'51100', u'France'),
 (10249, u'TOMSP', 6, datetime.date(1996, 7, 5), datetime.date(1996, 8, 16), datetime.date(1996, 7, 10), 1, 11.61, u'Toms Spezialit\xe4ten', u'Luisenstr. 48', u'M\xfcnster', None, u'44087', u'Germany'),
 (10250, u'HANAR', 4, datetime.date(1996, 7, 8), datetime.date(1996, 8, 5), datetime.date(1996, 7, 12), 2, 65.83, u'Hanari Carnes', u'Rua do Pa\xe7o, 67', u'Rio de Janeiro', u'RJ', u'05454-876', u'Brazil')]

In [8]:
%%sql
select * from products limit 3

3 rows affected.

[(1, u'Chai', 8, 1, u'10 boxes x 30 bags', 18.0, 39, 0, 10, 1),
 (2, u'Chang', 1, 1, u'24 - 12 oz bottles', 19.0, 17, 40, 25, 1),
 (3, u'Aniseed Syrup', 1, 2, u'12 - 550 ml bottles', 10.0, 13, 70, 25, 0)]

In [9]:
%%sql
select * from usstates limit 3

3 rows affected.

[(1, u'Alabama', u'AL', u'south'),
 (2, u'Alaska', u'AK', u'north'),
 (3, u'Arizona', u'AZ', u'west')]

As you can see, some tables (like `usstates` or `region`) contain information that is probably less prone to change than other tables (like `orders` or `order_details`). This database is well organized to avoid unnecessary duplication. Let's start digging deeper in the data.

## 2: Products

What products is this company selling? The `products` and `categories` tables contain information to answer this question.

Use a combination of SQL queries and Pandas merge to answer the following questions:

- What categories of products is the company selling?
- How many products per category does the catalog contain?
- Let's focus only on products that have not been discontinued => how many products per category?
- What are the most expensive 5 products (not discontinued)?
- How many units of each of these 5 products are there in stock?
- Draw a pie chart of the categories, with slices that have the size of the number of products in that category (use non discontinued products).

### 2.a: What categories of products is the company selling?

Remember that PostgreSQL is case sensitive.

In [10]:
categories = %sql select "CategoryID", "CategoryName", "Description" from categories;
categories

8 rows affected.

[(1, u'Beverages', u'Soft drinks, coffees, teas, beers, and ales'),
 (2, u'Condiments', u'Sweet and savory sauces, relishes, spreads, and seasonings'),
 (3, u'Confections', u'Desserts, candies, and sweet breads'),
 (4, u'Dairy Products', u'Cheeses'),
 (5, u'Grains/Cereals', u'Breads, crackers, pasta, and cereal'),
 (6, u'Meat/Poultry', u'Prepared meats'),
 (7, u'Produce', u'Dried fruit and bean curd'),
 (8, u'Seafood', u'Seaweed and fish')]

### 2.b: How many products per category does the catalog contain?

Keep in mind that you can cast a %sql result to a pandas dataframe using the `.DataFrame()` method.

In [11]:
category_counts = %sql select "CategoryID", count(*) AS count\
                    from  products \
                    group by "CategoryID" \
                    order by count desc;
category_counts

8 rows affected.

[(3, 13L), (8, 12L), (1, 12L), (2, 12L), (4, 10L), (5, 7L), (6, 6L), (7, 5L)]

In [12]:
pd.merge(category_counts.DataFrame(), categories.DataFrame())

,CategoryID,count,CategoryName,Description
0,3,13,Confections,"Desserts, candies, and sweet breads"
1,8,12,Seafood,Seaweed and fish
2,1,12,Beverages,"Soft drinks, coffees, teas, beers, and ales"
3,2,12,Condiments,"Sweet and savory sauces, relishes, spreads, an..."
4,4,10,Dairy Products,Cheeses
5,5,7,Grains/Cereals,"Breads, crackers, pasta, and cereal"
6,6,6,Meat/Poultry,Prepared meats
7,7,5,Produce,Dried fruit and bean curd

### 2.c: How many not discontinued products per category?

In [13]:
%%sql
select "CategoryID", count(*) AS count
from  products
where "Discontinued" = 0
group by "CategoryID"
order by count desc;

8 rows affected.

[(3, 13L), (8, 12L), (2, 11L), (4, 10L), (1, 9L), (5, 6L), (7, 4L), (6, 2L)]

In [14]:
category_counts_not_disc = _

In [15]:
products_per_category = pd.merge(category_counts_not_disc.DataFrame(), categories.DataFrame())
products_per_category

,CategoryID,count,CategoryName,Description
0,3,13,Confections,"Desserts, candies, and sweet breads"
1,8,12,Seafood,Seaweed and fish
2,2,11,Condiments,"Sweet and savory sauces, relishes, spreads, an..."
3,4,10,Dairy Products,Cheeses
4,1,9,Beverages,"Soft drinks, coffees, teas, beers, and ales"
5,5,6,Grains/Cereals,"Breads, crackers, pasta, and cereal"
6,7,4,Produce,Dried fruit and bean curd
7,6,2,Meat/Poultry,Prepared meats

### 2.d: What are the most expensive 5 products (not discontinued)?

In [16]:
%%sql
select * from products
where "Discontinued" = 0
order by "UnitPrice" desc
limit 5

5 rows affected.

[(38, u'C\xf4te de Blaye', 18, 1, u'12 - 75 cl bottles', 263.5, 17, 0, 15, 0),
 (20, u"Sir Rodney's Marmalade", 8, 3, u'30 gift boxes', 81.0, 40, 0, 0, 0),
 (18, u'Carnarvon Tigers', 7, 8, u'16 kg pkg.', 62.5, 42, 0, 0, 0),
 (59, u'Raclette Courdavault', 28, 4, u'5 kg pkg.', 55.0, 79, 0, 0, 0),
 (51, u'Manjimup Dried Apples', 24, 7, u'50 - 300 g pkgs.', 53.0, 20, 0, 10, 0)]

### 2.e: How many units of each of these 5 products are there in stock?

In [17]:
# see above

### 2.f: Pie Chart

Use pandas to make a pie chart plot.

In [ ]:
products_per_category[['CategoryName', 'count']].set_index('CategoryName').plot(kind = 'pie',
                                                                                y = 'count',
                                                                                figsize = (10,10),
                                                                                colormap = 'spectral')
plt.legend(loc = 2)

## 3: Orders

Now that we have a better understanding of products, let's start digging into orders.

- How many orders in total?
- How many orders per year
- How many orders per quarter
- Which country is receiving the most orders
- Which country is receiving the least
- What's the average shipping time (ShippedDate - OrderDate)
- What customer is submitting the highest number of orders?
- What customer is generating the highest revenue (need to pd.merge with order_details)
- What fraction of the revenue is generated by the top 5 customers?

In [ ]:
%%sql
select * from orders limit 3;

### 3.a: How many orders in total?

In [ ]:
%%sql
select count(*) from orders;

### 3.b: How many orders per year?

In [ ]:
order_dates = %sql select "OrderID", "OrderDate" from orders;
order_dates = order_dates.DataFrame()
order_dates.index = pd.to_datetime(order_dates['OrderDate'])
order_dates.head()

In [ ]:
orders_per_year = order_dates.groupby(pd.TimeGrouper('A'))['OrderID'].count()
orders_per_year

### 3.c: How many orders per quarter?

Make a line plot for these.

In [ ]:
orders_per_quarter = order_dates.groupby(pd.TimeGrouper('Q'))['OrderID'].count()
orders_per_quarter.plot()

### 3.d: Which country is receiving the most orders?

In [ ]:
%%sql
select "ShipCountry", count(*) as count
from orders
group by "ShipCountry"
order by count desc
limit 3;

### 3.e: Which country is receiving the least?

In [ ]:
%%sql
select "ShipCountry", count(*) as count
from orders
group by "ShipCountry"
order by count
limit 3;

### 3.f: What's the average shipping time (ShippedDate - OrderDate)?

In [ ]:
# in 2 steps:
days_diff  = %sql select "ShippedDate", "OrderDate", "ShippedDate" - "OrderDate" as daysdiff from orders;
days_diff.DataFrame()['daysdiff'].mean()

In [ ]:
# in 1 query:
%sql select avg("ShippedDate" - "OrderDate") from orders;

### 3.g: What customer is submitting the highest number of orders?

In [ ]:
%%sql
select "CustomerID", count(*) as count from orders group by "CustomerID" limit 3 ;

### 3.h: What customer is generating the highest revenue (need to pd.merge with order_details)?

In [ ]:
customer_orders = %sql select "CustomerID", "OrderID" from orders
order_details = %sql select * from order_details
customer_order_details = pd.merge(customer_orders.DataFrame(), order_details.DataFrame())
customer_order_details.head()

In [ ]:
customer_order_details['OrderRevenue'] = customer_order_details['UnitPrice'] * \
                                         customer_order_details['Quantity'] * \
                                         (1.0 - customer_order_details['Discount'])

In [ ]:
customer_revenue = customer_order_details.groupby('CustomerID')['OrderRevenue'].sum().sort_values(ascending = False)
customer_revenue.head()

### 3.i: What fraction of the revenue is generated by the top 5 customers?

Compare that with the fraction represented by 5 customers over the total number of customers.

In [ ]:
customer_revenue.head().sum() / customer_revenue.sum()

In [ ]:
5.0 / customer_revenue.count()

Wow!! 5.5% of the customers generate a third of the revenue!!

## Bonus: Other tables

Investigate the content of other tables. In particular lookt at the `suppliers`, `shippers` and `employees` tables.